openapi: 3.0.3

info:
  title: MyAPITerry Enterprise Platform API
  version: 3.0.0
  description: |
    Enterprise API Platform governed by standardised design rules.
    Includes RFC7807 error model, rate limiting, observability, and lifecycle controls.

servers:
  - url: https://api.online-shop.com/v1
    description: Production
  - url: https://{env}-api.online-shop.com/v1
    variables:
      env:
        default: dev
        enum: [dev, sit, uat, prod]

tags:
  - name: Products
    description: Product domain operations
  - name: Notifications
    description: Notification domain operations

security:
  - BearerAuth: []

paths:
  /products:
    $ref: './domains/products/paths.yaml#/products'
  /products/{productId}:
    $ref: './domains/products/paths.yaml#/products~1{productId}'
  /notifications:
    $ref: './domains/notifications/paths.yaml#/notifications'

components:

  securitySchemes:

    OAuth2:
      type: oauth2
      description: |
        OAuth2 Authorization Code Flow with PKCE (FAPI compliant).
      flows:
        authorizationCode:
          authorizationUrl: https://auth.online-shop.com/oauth/authorize
          tokenUrl: https://auth.online-shop.com/oauth/token
          scopes:
            products.read: Read product catalogue
            products.write: Modify products
            notifications.send: Send notifications

    MutualTLS:
      type: mutualTLS
      description: |
        Mutual TLS required for confidential clients (FAPI requirement)

  parameters:
    CorrelationIdHeader:
      $ref: './components/parameters/headers.yaml#/CorrelationIdHeader'
    RequestIdHeader:
      $ref: './components/parameters/headers.yaml#/RequestIdHeader'
    IdempotencyKeyHeader:
      $ref: './components/parameters/headers.yaml#/IdempotencyKeyHeader'
    PageParam:
      $ref: './components/parameters/headers.yaml#/PageParam'
    PageSizeParam:
      $ref: './components/parameters/headers.yaml#/PageSizeParam'
    ProductIdParam:
      $ref: './components/parameters/headers.yaml#/ProductIdParam'

  responses:
    $ref: './components/responses/common.yaml'

  schemas:
    ProblemDetails:
      $ref: './components/schemas/errors.yaml#/ProblemDetails'
