openapi: 3.0.3

info:
  title: MyAPITerry Enterprise Platform API
  version: 3.0.0
  description: |
    Enterprise API Platform governed by standardised design rules.
    Includes RFC7807 error model, rate limiting, observability, and lifecycle controls.

servers:
  - url: https://api.online-shop.com/v1
    description: Production
  - url: https://{env}-api.online-shop.com/v1
    variables:
      env:
        default: dev
        enum: [dev, sit, uat, prod]

tags:
  - name: Products
    description: Product domain operations
  - name: Notifications
    description: Notification domain operations

security:
  - BearerAuth: []

paths:
  /products:
    $ref: './domains/products/paths.yaml#/products'
  /products/{productId}:
    $ref: './domains/products/paths.yaml#/products~1{productId}'
  /notifications:
    $ref: './domains/notifications/paths.yaml#/notifications'

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    CorrelationIdHeader:
      $ref: './components/parameters/headers.yaml#/CorrelationIdHeader'
    RequestIdHeader:
      $ref: './components/parameters/headers.yaml#/RequestIdHeader'
    IdempotencyKeyHeader:
      $ref: './components/parameters/headers.yaml#/IdempotencyKeyHeader'
    PageParam:
      $ref: './components/parameters/headers.yaml#/PageParam'
    PageSizeParam:
      $ref: './components/parameters/headers.yaml#/PageSizeParam'
    ProductIdParam:
      $ref: './components/parameters/headers.yaml#/ProductIdParam'

  responses:
    $ref: './components/responses/common.yaml'

  schemas:
    ProblemDetails:
      $ref: './components/schemas/errors.yaml#/ProblemDetails'
