openapi: 3.0.3

info:
  title: MyAPITerry Enterprise Platform API
  description: |
    Unified Enterprise Orchestrator for the Online Shop ecosystem.
    This contract aggregates 35+ bounded contexts using a Federated Domain-Driven Design (DDD) approach.
  version: 1.0.0
  contact:
    name: Terry K
    email: terryk@company.com.au

# 🔐 GLOBAL GOVERNANCE: SECURITY & SERVERS
security:
  - BearerAuth: []

servers:
  - url: https://api.online-shop.com/v1
    description: Production Gateway
  - url: https://{environment}-api.online-shop.com/v1
    description: Tiered Environments
    variables:
      environment:
        default: dev
        enum: [dev, sit, uat, prod]

# 🗺️ DOMAIN DISPATCH MAP (The Orchestration Layer)
# Each $ref points to a domain-specific paths file.
paths:
  /products:
    $ref: './domains/products/paths.yaml'
  /products/{productId}:
    $ref: './domains/products/paths.yaml#/~1{productId}'
  /notifications:
    $ref: './domains/notifications/paths.yaml'
  # Future domains like /payments or /orders are simply added here.

# 🧩 SHARED KERNEL (Global Standards)
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # Standardized Headers, Query Params, and Path Params
  parameters:
    $ref: './shared/headers.yaml'
  
  # Cross-Domain Schemas
  schemas:
    ErrorResponse:
      $ref: './shared/errors.yaml#/ErrorResponse'
    # Domain-specific schemas are referenced within their own path files.

  # Unified Enterprise Error Model
  responses:
    $ref: './shared/errors.yaml'
